# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.map

swarm_bot/Makefile
swarm_bot/bin/
swarm_bot/build/
swarm_bot/doc/
swarm_bot/msg_gen/
swarm_bot/src/swarm_bot/
swarm_bot/srv_gen/

swarm_controller/Makefile
swarm_controller/bin/
swarm_controller/build/
